@media screen and (min-width:1350px){
  .trusted-partner-sec .partner-icon {
    height: 70px;
    width: 211px;}
  }
@media screen and (max-width: 1250px){
  .header-icon-div {
   width: 100%;
}

}
@media screen and (max-width: 991px) {
  .fruit-sec .detail-img {
    height: 100% !important;
  }
  header .hamburger {
    display: block;
}
.header-icon-div{
  width: 100% ;
}
h3{
  margin-bottom: 35px !important;
  margin-top: 30px !important;

 }

header .middle-sec {
  display: none;
  transition: 1s ease-out;
  box-shadow: 0px 1px 5px 0px rgba(109, 108, 108, 0.75);
  padding: 9px;
  position: absolute;
  right: 0;
  background-color: #fff;
  z-index: 9;
  top: 0;
  height: fit-content;
}
header .middle-sec ul {
  flex-direction: column;
  padding: 0;
}
header ul li {
  margin: 15px 20px;
}
header .right-sec {
  margin-left: -100px;
}
  
.container-fluid{
  padding: 0 20px !important;
}
header {
  padding: 30px 20px;

}
h2{
  font-size: 30px !important;
}
p{
  font-size: 12px;
}

.logo {
  height: 35px;
  object-fit: contain;
  margin-bottom: 5px;
  margin-left: -27px;}
     .col-div4 {
      width: 100%;
     }
     .side-line{
      margin-top: 20px !important;
      border: none;
    }
    .home-banner-sec {
      padding-top: 115px;
  
    }
    .side-line {
      padding: 0 !important;
    }
 
    form {
        padding: 0;
    }
  .view-sec .col-lg-8{
    margin: 20px 0 !important;
  }
  .footer .col-lg-2 p{
    margin-top: 20px;
  }
  .fruit-sec .col-lg-6{
    padding-left: 0 !important;
   }
   form {
    border-right: none;
   }
   .footer {
    border-top: 0.5px solid #191919;
    padding: 30px 0px;
   }
   .footer-end-div .container-fluid {
    text-align: left;
   }
   #closeBtn{
    display: block;
   
   }
   

}
  @media screen and (max-width: 768px){

    .contact-sec .studio-img {
      height: 100%;
   
  }
 
  

  .side-line {
    margin-top: 30px !important;
    border: none;
}
  h3{
    font-size: 30px !important;
  }
  
  
  .hover-button{
    padding: 10px;
    font-size: 14px !important;
    font-weight: 400 !important;
  }
  .testmonial-sec .what-text {
   
    font-size: 27px !important;
    font-weight: 400 !important;
    margin-top: -5px !important;
}
  .fruit-up-para {
    font-size: 16px !important ;}
 
  .why-choose-sec .why-choose-box {
    width: 100%;
  }
  p{
    font-size: 14px !important;
  }
  .i-text {
    font-style: italic;
    /* font-weight: 300; */
    font-size: 12px !important;
}
  .blue-text {
    font-size: 30px !important;
  }
 
  
  .trust-side-line::before {
    display: none;
  }
  .fruit-div-sec .fruit-box {
    width: 100% !important;
  }
  form .form-control {
    width: 100% !important;
    
  }
  form .form-control textarea {
    width: 100% !important;
  }
 .fruit-sec .fruit-image-div{
    justify-content: start;
  }
  .fruit-sec .detail-img{
    height: 100%;
  }
  .counting-sec .white-text {
    font-size: 14px !important;
    font-weight: 400 !important;

    
  }
  
  .home-image {
    margin-top: 20px;
  }
   
   form .form-ctrl {
    width: 100%;
}
.about-banner-sec h3 {
  font-size: 30px !important;
}
.about-end-div p {
  
  font-size: 18px !important;
}


}
@media screen and (min-width:1024px) {
.footer {
 
  padding: 15px 0px;
}
}
@media screen and (max-width:1024px) {
.fruit-div-sec .fruit-box {
  width: 48% ;
}
.count-pd{
  padding-left: 0 !important;
 }
.fruit-div-sec .fruit-box-div{
  justify-content: center;
}
h2{
  font-size: 35px;
}
p{
  font-size: 16px;
}
}
@media screen and (max-width:500px){
  .call-us-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(20, 155, 238);
    line-height: 2;
    text-align: center;
    top: -1px;
    color: #fff !important;
    font-size: 12px !important;
    position: relative;
    display: inline-block;
    margin-right: 5px;
    margin-left: 16px;
}
.call-us-icon:before, .call-us-icon:after {
  height: 30px;
  width: 30px;
}
.call-ic p{
  font-size:10px !important;
  padding-top: 6px;
}
header .right-sec i {
  font-size: 11px !important;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
}